DEVICE_NAME = 'device_name'
# OS version: names the generated package (<device>_<os-version>) and feeds
# --device-version. Also read from $DEVICE_VERSION by the compilers.
DEVICE_VERSION = '1.4.0'
DEVICE_IP = '192.168.137.42'
DEVICE_USER = 'username'
DEVICE_PASS = 'password'
RESTCONF_PORT = 443
NETCONF_PORT = 830
